main
1. banner section | done
2. 65% section | done
3. welcome section | done
4. portfolio section
5. subscribe section
6. footer section

bonus
1. coming soon section
2. hover effect in portfolio section images

submission
1. github link
2. website link
