main
1. banner section | done
2. 65% section | done
3. welcome section | done
4. portfolio section | done
5. subscribe section | done
6. footer section | done

bonus
1. coming soon section | done
2. hover effect in portfolio section images | done

submission
1. github link
2. website link
