* {
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
}

header,
main {
    margin: 0px 140px;
}

/* banner section styles */
.banner {
    height: 570px;
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/banners/Banner Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-text {
    position: absolute;
    color: white;
    width: 1239px;
    margin-top: 160px;
    text-align: center;
}

.banner-text h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
}

.banner-text h2 {
    font-size: 72px;
    font-weight: 900;
}

/* discount section styles */
.discount-text {
    text-align: center;
}

.discount-text h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 68px;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 35px;
}

.discount-text h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.discount-text h2 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-img {
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
}

/* welcome section styles */
.welcome {
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/banners/Vectorrr.png");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0px 120px;
    margin-bottom: 120px;
}

.welcome-text {
    color: white;
}

.welcome-text h2 {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.welcome-text small {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    display: block;
}

.welcome-text a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 30px;
}

/* portfolio section styles */
.portfolio {
    margin-bottom: 120px;
}

.portfolio-text h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.portfolio-text h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.portfolio-text small {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0%;
    margin-bottom: 25px;
    display: block;
}

.portfolio-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-images div {
    display: flex;
    gap: 20px;
}

.portfolio-images div img:hover {
    border: 2px solid rgb(227, 5, 5);
    border-radius: 16px;
}